[submodule "2024/ProjectSekaiCTF/lib/forge-std"]
	path = 2024/ProjectSekaiCTF/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "2024/ProjectSekaiCTF/lib/openzeppelin-contracts"]
	path = 2024/ProjectSekaiCTF/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "2024/ProjectSekaiCTF/lib/v2-periphery"]
	path = 2024/ProjectSekaiCTF/lib/v2-periphery
	url = https://github.com/Uniswap/v2-periphery
[submodule "2024/ProjectSekaiCTF/lib/account-abstraction"]
	path = 2024/ProjectSekaiCTF/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
